.DS_Store
.vscode/
*.log

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.env

# Python
.venv/
__pycache__/
*.pyc

credentials.jsonscripts/token.pickle
*.pickle
